body{  background-color: #F0FFFF;
  background-image: url("Background.png");
  overflow-y: hidden;
  height: 100vh;
  display: block;
}


svg {
  position: fixed;
}

.dot {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.8;
  z-index: 100;
}

#dot1 {
  left: 900px;
  top: 100px;
  height: 30px;
  width: 30px;
}

#dot2 {
  height: 80px;
  width: 80px;
  left: 600px;
  top: 500px;
  
}

#dot3 {
  left: 1300px;
  top: 230px;
  
}

#dot4 {
  left: 1000px;
  top: 500px;
}
  
#dot5 {
  left: 450px;
  top: 100px;
}
  
#dot6 {
  left:1230px;
  top: 700px;
  
}


.introduction{
  background-color: black;
  opacity:0.7;
  color:white;
}



h1 {
  position: absolute;
  font-family: 'Dokdo', cursive;
  text-align: center;
  left: 550px;
  top: 250px;
  color: white;
  font-size: 90px;
  opacity: 0;
  
}

svg {
  opacity: 0.5;
}


#pic1 {
  position:fixed;
  height: 300px;
  width:auto;
  display: block;
  left: 800px;
  opacity: 0.6;
}

#pic1:hover {
  opacity: 1.0;
}

#pic2 {
  position:fixed;
  height: 500px;
  width:auto;
  left: 500px;
  top: 300px;
  opacity: 0.6;
}

#pic2:hover {
  opacity:1.0;
}


#pic3 {
  position: fixed;
  height: 300px;
  width:auto;
  left: 1060px;
  top:100px;
  opacity:0.6;
}

#pic3:hover {
  opacity:1.0;
}
#pic4 {
  position: fixed;
  height: 400px;
  width:auto;
  left: 850px;
  top: 400px;
  opacity:0.6;
  
}

#pic4:hover {
  opacity:1.0;
}

.show {
  background-color: rgba(0, 0, 0, .7);
  height: 700px;
  width: 400px;
  overflow-y: scroll;
  margin: 0;
  
}

h4 {
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 150%;
  padding: 20px;
}

h2 {
  color: white;
  font-size: 25px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  
}



