body
{
  background-image: url("https://i.pinimg.com/564x/8e/9c/d2/8e9cd2067955538b2dc45b1839f38bf3.jpg");
  background-repeat: repeat;
  background-size: 33.3% 200%;
}

/*.introduction*/
/*{*/
/*  background-color: white;*/
/*  height: 100vh;*/
/*  width: 100%;*/
/*}*/


.space
{
  height: 100vh;
  width: 100vh;
  perspective: 1000px;
}

img {
  max-width:100%;
  max-height:100%;
}

.card
{
  position:absolute;
  transform-origin: 50% 50% 0;
}

#panel_1  /* perspective function in transform property */
{
  height:350px;
  width: 532px;
  transform: rotateY(45deg);
  left: 200px;
  top: 100px;
  animation: animation_1 12s linear 0s infinite;
}

@keyframes animation_1
{
    from {transform: rotateY(45deg);}
    to {transform: rotateY(-315deg);}
}

#panel_1:hover
{
  animation-play-state: paused;
}

#panel_2
{
  height:350px;
  width: 532px;
  left: 900px;
  top: 0;
  transform: rotateY(130deg);
  animation: animation_2 8s linear 0s infinite;
}

@keyframes animation_2
{
  from {transform: rotateY(130deg);}
  to {transform: rotateY(-230deg);}
}

#panel_2:hover
{
  animation-play-state: paused;
}

#panel_3
{
  height: 329px;
  width: 220px;
  left: 800px;
  top: 30px;
  transform: rotateY(30deg);
  animation: animation_3 15s linear 0s infinite;
  z-index: 20;
}

@keyframes animation_3
{
  from {transform: rotateY(30deg);}
  to {transform: rotateY(-330deg);}
}

#panel_3:hover
{
  animation-play-state: paused;
}

#panel_4
{
  height: 250px;
  width: 400px;
  left: 500px;
  top: 400px;
  transform: rotateY(-15deg);
  animation: animation_4 20s linear 0s infinite;
  z-index: 10;
}


@keyframes animation_4
{
  from {transform: rotateY(-15deg);}
  to {transform: rotateY(-375deg);}
}

#panel_4:hover
{
  animation-play-state: paused;
}

#panel_5
{
  height: 188px;
  width: 280px;
  left: 50px;
  transform: rotateY(80deg);
  animation: animation_5 10s linear 0s infinite;
  z-index: 0;
}

@keyframes animation_5
{
  from {transform: rotateY(80deg);}
  to {transform: rotateY(-280deg);}
}

#panel_5:hover
{
  animation-play-state: paused;
}

#panel_6
{
  height: 300px;
  width:500px;
  top: -400px;
  left: 50px;
  transform: rotateY(10deg);
  animation: animation_6 12s linear 0s infinite;
}

@keyframes animation_6
{
  from {transform: rotateY(10deg);}
  to {transform: rotateY(-350deg);}
}

#panel_6:hover
{
  animation-play-state: paused;
}

#panel_7
{
  height: 280px;
  width:500px;
  top: 0;
  left: 50px;
  transform: rotateY(10deg);
  animation: animation_6 12s linear 0s infinite;
}

#panel_7:hover
{
  animation-play-state: paused;
}


#panel_8
{
  height: 282px;
  width: 500px;
  left: 800px;
  top: 200px;
  transform: rotateY(-15deg);
  animation: animation_4 20s linear 0s infinite;
  z-index: 10;
}


#panel_8:hover
{
  animation-play-state: paused;
}

#panel_9
{
  height: 187px;
  width: 280px;
  left: 50px;
  top: 200px;
  transform: rotateY(80deg);
  animation: animation_5 10s linear 0s infinite;
  z-index: 0;
}

#panel_9:hover
{
  animation-play-state: paused;
}

#panel_10
{
  height: 300px;
  width:500px;
  top: -400px;
  left: 250px;
  transform: rotateY(10deg);
  animation: animation_6 12s linear 0s infinite;
}


#panel_10:hover
{
  animation-play-state: paused;
}

#panel_11
{
  height: 280px;
  width: 420px;
  left: 800px;
  top: -400px;
  transform: rotateY(80deg);
  animation: animation_5 10s linear 0s infinite;
  z-index: 0;
}

#panel_11:hover
{
  animation-play-state: paused;
}


#panel_12
{
  height: 280px;
  width:500px;
  left: 550px;
  top: -200px;
  transform: rotateY(10deg);
  animation: animation_6 12s linear 0s infinite;
}

#panel_12:hover
{
  animation-play-state: paused;
}

.POPUP
{
  position:fixed;
  height: 500px;
  width: 1000px;
  top:50px;
  left: 200px;
  opacity: 0;
  z-index: -1;
  
  
}

iframe
{
  height: 500px;
  width: 1200px;
}

.close_button
{
  position: fixed;
  left: 1060px;
  top: 40px;
  z-index: -1;
  height: 20px;
  width: 20px;
}

.close_button img
{
  width: 100%;
  height: 100%;
}

.menu img
{
  position: fixed;
  left: 1400px;
  top: 20px;
  height: 50px;
  width: 50px;
}

.navibar
{
  opacity: 0;
  z-index: -1;
  background-color: grey;
  width: 400px;
  height: 100vh;
  position: fixed;
  left: 1200px;
  top:0;
}

.navibar h3
{
  font-family: 'Dosis', sans-serif;
  margin: 20px;
}


