body
{display: inline;
}

#PIC
{
  height: 458px;
  width:702px;
  margin:30px;
  position: fixed;
}



#TEXT
{
  background-color: grey;
  width: 340px;
  height: 458px;
  position: fixed;
  left: 762px;
  top: 30px;
}

